$normal-color: black;
$big-color: brown;
%normal-font {
    font-family: sans-serif;
    font-size: 16px;
}
%line {
    clear: both;
    vertical-align: baseline;
    padding: 30px 0 30px 0;
}
%line-left {
    float: left;
    min-width: 0;
    width: 22%;
    height: 42px;

    // match height between left vs middle
    line-height: 45px;

    vertical-align: middle;
}
%line-middle {
    float: left;
    display: block;
    min-width: 167px;
    min-height: 41px;
    height: 5px;
    width: 250px;

    margin-right: 50px;
}
%line-right {
    display: inline-block;

    // This line cause other div to jump up to each other
    // vertical-align: middle;

    min-width: 167px;
    min-height: 41px;
    height: 42px;
    width: 32%;

    line-height: 45px;
}


body {
    color: $normal-color;
    @extend %normal-font;
    padding: 10px;
    background-color: #FFDCE7;    
}
main {
    min-height: 400px;    
}
nav {
    padding: 20px 40px 20px 40px;
    margin-bottom: 10px;
}
.navbar-custom {
    background-color: #FFC1CC;
}
footer {
    margin-top: 150px;
}
h1 {
    color: $big-color;
}

// Ensure line height are equal between column
li {
    line-height: min(45px);
}


.input-line {
    @extend %line;
}
.input-left {
    @extend %line-left;
    font-size: 16px;
    font-weight: bold;
}
.input {
    @extend %line-middle;

    border: 1px solid grey;
    font-size: 16px;
    padding: 0 20px 0 20px;
}
.input-right {
    @extend %line-right;
    font-size: 13px;
    font-style: italic;
}
.list-line {
    @extend %line;
    margin-left: 150px;
}
.list-line-kids {
    @extend %line;
    margin: 50px 0 150px 200px;
}
.list-line-detail {
    @extend %line;
    margin: 10px 0 10px 200px;
}
.list-line-detail-2 {
    @extend %line;
    margin: 10px 0 10px 200px;
}
.list-left {
    @extend %line-left;       
}
.list-left-detail {
    @extend %line-left;    
    width: 35%;
}
.list-left-detail-2 {
    @extend %line-left;
    width: 25%;
}
.list-middle {
    @extend %line-middle;
    margin-left: 50px;
}
.list-middle-detail {
    @extend %line-middle;
    margin-left: 200px;
}
.list-right {
    @extend %line-right;
}
.list-right-detail {
    @extend %line-right;
    margin-left: 200px;
    color: blue;
}
.list-right-detail-2 {
    @extend %line-right;
    margin-left: 100px;
    color: blue;
}
.list-right-detail-link {
    @extend %line-right;
    margin-left: 160px;
}
.i-left {
    font-size: 15px;
}
.normal-btn {
    margin: 50px 0 0 250px;
}
.confirm-btn {
    margin: 50px 0 0 400px;
}
.add_course-btn {
    margin: 50px 0 0 300px;
}
.add_kid-btn {
    margin: 70px 0 0 300px;
}
#login-btn {
    background-color: #a9a9a9;
    color: white;
    font-weight: bold;
    font-family: arial, sans-serif;
    position: center;
    width: 120px;
    height: 40px;
    border-color: transparent;
    overflow: hidden;
    font-size: 18px;
    border-radius: 5px;
    line-height: 20px;
}
#login-btn:hover {
    background-color: #878787;
}
.no-bullet {
    list-style-type: none;
}
form {
    margin-left: 30px;
}
.login-form, .register-form, .add_kid-form, .add_course-form {
    margin-left: 200px;
}
.under-btn-text {
    margin: 50px 0 0 400px;
}
.show-hide-btn {
    margin: 20px 0 20px 450px;
}
.page-title {
    margin: 50px 0 40px 550px;
}
#learn-course {
    margin: 50px 0 50px 350px;
}
.index-item {
    @extend %line;
    background-color: #f7f5bc;
    width: 850px;
    height: 500px;
    padding: 40px; 
}
.course-item {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    margin-top: 50px;
    margin-bottom: 50px;  
}
@keyframes hide {
    0% {
        opacity: 1;
        line-height: 16px;
        height: 500px;
        padding: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    75% {
        opacity: 0;
        line-height: 16px;
        height: 500px;
        padding: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    100% {
        opacity: 0;
        line-height: 0;
        height: 0;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.hide {
    float: right;
    margin-right: 170px;
}
.red-course-item {
    animation-name: move-div;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
@keyframes move-div {
    0% {
        opacity: 1;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    75% {
        opacity: 0;
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    100% {
        opacity: 0;
        line-height: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
