{% extends "kids/layout.html" %}
{% load static %}
{% block title %}

    index

{% endblock %}
{% block script %}
    <script src="{% static 'kids/index.js' %}"></script>
{% endblock %}
{% block main %}

    <h1>Courses</h1>
    <p style="margin-left: 1000px;">Currency</p>
    <select id="currency" style="margin-left: 1000px;">
        <option selected value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="VND">VND</option>
    </select>
    <ul class="no-bullet">
        {% for course in courses %}

            <li>
                <div class="list-line">
                    <div class="list-left">
                        <a href="{% url 'kids:course_detail' course_id=course.id %}"><img src="{{ course.img_URL }}" alt="{{ course.img_URL }}"width="240" height="180"></a>                        
                    </div>
                    <div class="list-middle">
                        <ul class="no-bullet">
                            <li><i class="i-left">Title</i></li>
                            <li><i class="i-left">Category</i></li>
                            <li><i class="i-left">Cost (per 4 weeks)</i></li>
                            <li><i class="i-left">Time (per 4 weeks)</i></li>
                            <li><i class="i-left">Developing aspects</i></li>
                        </ul>
                    </div>
                    <div class="list-right">
                        <ul class="no-bullet">
                            <li><strong><a href="{% url 'kids:course_detail' course_id=course.id %}">{{ course.title }}</a></strong></li>
                            <li><strong>{{ course.category }}</strong></li>
                            <li><strong id="cost">{{ course.cost }}</strong> <strong id="cost-currency">USD</strong></li>
                            <li><strong>{{ course.time_cost }} hours</strong></li>
                            <li>
                                <strong>
                                
                                    {% for i in course.goal.all.values %}                                                                       

                                        {% if not forloop.last %}

                                            {{ i.title }},

                                        {% else %}

                                            {{ i.title }}

                                        {% endif %}

                                    {% endfor %}

                                </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

        {% empty %}

            <li>No course yet</li>

        {% endfor %}
    </ul>  

{% endblock %}