{% extends "kids/layout.html" %}
{% load static %}
{% block title %}

    kid detail

{% endblock %}
{% block script %}

    <script src="{% static 'kids/kid_detail.js' %}"></script>

{% endblock %}
{% block main %}

    <h1>Kid detail</h1>
    <button class="color-btn" data-font_weight="bold">Bold</button>
    <button class="color-btn" data-font_weight="normal">Normal</button>
    {% for detail in details_1 %}

        <div class="list-line-detail">
            <div class="list-left-detail">
                <p>{{ detail.key }}</p>
            </div>
            <div class="list-right-detail">
                <strong>{{ detail.value }}</strong>
            </div>
        </div>

    {% endfor %}
    {% for detail in details_2 %}

        <div class="list-line-detail">
            <div class="list-left-detail">
                <p>{{ detail.key }}</p>
            </div>
            <div class="list-right-detail-link">              
                <form action="{% url 'kids:evaluate' %}" method="post">
                    {% csrf_token %}
                    <input name="id" type="hidden" value="{{ kid.id }}">
                    <input name="aspect" type="hidden" value="{{ detail.sub }}">
                    <button class="btn btn-link">
                        {% if detail.value == 'Very Low' or detail.value == 'Low' %}

                            <strong style="color: red;">{{ detail.value }}</strong>
                            
                        {% elif detail.value == 'Excellent' or detail.value == 'Good' %}

                            <strong style="color: green;">{{ detail.value }}</strong>

                        {% else %}

                            <strong style="color: blue;">{{ detail.value }}</strong>

                        {% endif %}
                    </button>
                </form>
            </div>
        </div>        

    {% endfor %}       
    
    <div class="list-line-detail">
        <div class="list-left-detail">
            <p>Currently in courses</p>
        </div>
        <div class="list-right-detail">
            {% for course in courses %}

                {% if not forloop.last %}

                    <a href="{% url 'kids:course_register' course_id=course.id %}">
                        <strong>{{ course }},</strong>
                    </a>
                                        

                {% else %}

                    <a href="{% url 'kids:course_register' course_id=course.id %}">
                        <strong>{{ course }}</strong>
                    </a>                                        

                {% endif %}

            {% empty %}

                <strong>This kid was not in any course yet.</strong>
                <a href="{% url 'kids:index' %}">Go to course list</a>                

            {% endfor %}
        </div>
    </div>

{% endblock %}