{% extends "kids/layout.html" %}
{% block title %}

    kids

{% endblock %}
{% block main %}

    <h1 class="page-title">Kids</h1>

    <div style="margin: 50px 0 50px 450px;">
        <p>Refresh all courses required time for 4 weeks</p>
        <form onsubmit="return confirm('Do you really want to reset all time for your kids?');" action="{% url 'kids:refresh_duration' %}" method="post">
            {% csrf_token %}
            <button style="margin: 20px 0 0 80px;">Refresh</button>
        </form>
    </div>

    <ul class="no-bullet">
        {% for kid in kids %}

            <li>
                <div class="list-line-kids">
                    <div class="list-left">
                        <ul class="no-bullet">
                            <li><i class="i-left">Nick name</i></li>
                            <li><i class="i-left">Full name</i></li>
                        </ul>
                    </div>
                    <div class="list-middle">
                        <ul class="no-bullet">
                            <li><a href="{% url 'kids:kid_detail' kid_id=kid.id %}"><strong>{{ kid.nickname }}</strong></a></li>                            
                            <li><strong>{{ kid.full_name }}</strong></li>                            
                        </ul>
                    </div>
                </div>
            </li>

        {% empty %}

            <li style="font-size: 24px; color: red; margin: 50px 0 0 500px;">No kid yet</li>
            <a style="font-size: 24px; margin: 50px 0 0 450px;" href="{% url 'kids:add_kid' %}">Add your first kid</a>

        {% endfor %}
        
    </ul>

{% endblock %}